body {
    color: brown;
    background: rgb(219, 198, 159);
    margin: 0;
    padding: 0;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100%;
}

header {
    background: rgb(194, 130, 130);
    padding: 10px;
    border-bottom: 2px solid black;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

div.bio {
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 1.25rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

/*p.biop1 {
    margin-bottom: 155px;
}*/

div.imgbio {
    border: 3px solid #000000;
}

div.imgbio img {
    display: block;
}

div.textbio {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font: weight 400px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    max-width: 500px;
    margin-right: 20px;
    text-align: justify;
}

div.title {
    text-align: center;
    font-size: 3.125rem;
    color: rgb(56, 56, 65);
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

div.perfiles {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font: weight 400px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

div.perfilprofesional {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*width: 30rem;
    height: 44.64rem;*/
}

/*div.perfiles img {
    border: 2px solid black;
}*/

div.ppimg {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
}

div.ppcontenido {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(223, 223, 146, 0.125);
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    letter-spacing: 0.25em;
}

.perfil {
    position: relative;
}

.perfil:hover div.ppcontenido {
    opacity: 1;
    transform: scale(1);
    color: rgb(110, 224, 148);
}

div.profesional {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

#profesional {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font: weight 400px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

a {

    color: rgba(223, 223, 146, 0.125);

}

.sonidista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.sonidistaregistros {
    border: 2px solid black;
}

div.sonidistaregistros img {
    display: block;
}

footer {
    text-align: center;
    margin-top: 40px;
    /*padding: 10px;*/
    background: lightgray;
    border-top: 0.125rem solid black;
    background: rgb(194, 130, 130);
    font-family: "Great Vibes", cursive;
    /*font-weight: 400;*/
    font-style: normal;
    font-size: 4rem;
}

@media (max-width: 430px) {
    body {
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    div.bio {
        font-size: 1rem;
        line-height: 1.5;
        margin: 1rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    footer {
        font-size: 14px;
        width: 100%;
    }

    div.title {
        font-size: 24px;
    }

    .perfiles {
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    div.textbio {
        max-width: 430px;
        margin-right: 0px;
        text-align: justify;
    }

    div.perfilprofesional {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        /*width: 30rem;
    height: 44.64rem;*/
    }

    img {
        object-fit:fill ;
        
    }

    #administrativo {
        overflow: scroll;
    }

    #sonidista {
        overflow: scroll;
    }

    #perfil .perfilprofessional {
        height: 10%;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sonidista {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}