body {
    color: brown;
    background: rgb(219, 198, 159);
    margin: 0;
    padding: 0;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100%;
}

header {
    background: rgb(194, 130, 130);
    padding: 10px;
    border-bottom: 2px solid black;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

div.bio {
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 1.25rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

div.imgbio {
    border: 3px solid #000000;
}

div.imgbio img {
    display: block;
    width: 248px;
    height: 248px;
}


div.textbio {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    max-width: 500px;
    text-align: justify;
}

div.title {
    text-align: center;
    font-size: 3.125rem;
    color: rgb(56, 56, 65);
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

div.perfiles {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

div.perfilprofesional {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*width: 30rem;
    height: 44.64rem;*/
}

/*div.perfiles img {
    border: 2px solid black;
}*/

div.ppimg {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
}

div.ppimg img {
    display: block;
    width: 480px;
    height: 640px;
}

div.ppcontenido {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(223, 223, 146, 0.125);
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    letter-spacing: 0.25em;
}

.perfil {
    position: relative;
}

.perfil:hover div.ppcontenido {
    opacity: 1;
    transform: scale(1);
    color: rgb(208, 154, 197);
    font-size: 25px;
}

div.profesional {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

#profesional {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font: weight 400px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#administrativo {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

div.imgadministrativo {
    border: 3px solid #000000;
}

div.imgadministrativo img {
    display: block;
    width: 380px;
    height: 260px;
}

div.textadministrativo {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    max-width: 500px;
    text-align: justify;
}

p.adm2 a {
    color: rgba(10, 11, 76, 0.792);
}

p.adm2 {
    font-size: 1rem;
}

a {
    color: rgba(223, 223, 146, 0.125);
}


.sonidistatitulo {
    text-align: center;
    font-size: 3.125rem;
    color: rgb(56, 56, 65);
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.bloques {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.sonidistaregistros {
    border: 2px solid black;
}

div.sonidistaregistros img {
    display: block;
}

div.soundcloud {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

div.eventosvivo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-style: normal;
    font-size: 2rem;
}

div.eventosvivoimg {
    display: grid;
    grid-template-columns: repeat(auto-fit, 390px);
    gap: 10px;
    justify-content: center;
}

div.eventosvivoimg img {
    width: 18.75rem;
    height: 12.5rem;
}

#personal {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

div.ppercuadro {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
}

div.ppercuadro p {
    display: block;
    width: 320px;
    height: 400px;
    border: rgb(165, 42, 42) 3px solid;
}

div.ppercontenido {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(223, 223, 146, 0.125);
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    letter-spacing: 0.15em;
    text-align: center;
}

.perfil:hover div.ppercontenido {
    opacity: 1;
    transform: scale(1);
    color: rgb(208, 154, 197);
    font-size: 20px;
}

#untref {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

div.imgperper {
    border: rgb(165, 42, 42) 3px solid;
    border-radius: 5%;
}

div.imgperper a {
    display: flex;
    width: 150px;
    height: 150px;
    font-size: 2rem;
    text-align: center;
    color: rgba(10, 11, 76, 0.792);
    justify-content: center;
    align-items: center;
}

div.textperper {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    max-width: 800px;
    text-align: center;
}

div.textperper h2 {
    font-family: "Great Vibes", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 800px;
    text-align: center;
}

.bloquesperper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

}

#fotografía {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.bloquesperper2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

}

#rompecabezas {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
div.imgperper2 {
    border: rgb(165, 42, 42) 0.5px solid;
}
.bloquesperper3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.bloquesperper3 img {
    display: block;
    width: 18.75rem;
    height: 12.5rem;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    border-top: 0.125rem solid black;
    background: rgb(194, 130, 130);
    font-family: "Great Vibes", cursive;
    /*font-weight: 400;*/
    font-style: normal;
    font-size: 4rem;
}

@media (max-width: 430px) {
    body {
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header {
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }

    div.bio {
        font-size: 1rem;
        line-height: 1.5;
        margin: 1rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    div.imgbio {
        border: 2px solid #000000;
    }

    div.imgbio img {
        display: block;
        width: 124px;
        height: 124px;
    }

    div.ppimg {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 0;
    }

    div.ppimg img {
        display: block;
        width: 300px;
        height: 400px;
    }


    div.title {
        font-size: 24px;
    }

    .perfiles {
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    div.textbio {
        margin-right: 0px;
        text-align: justify;
    }

    div.perfilprofesional {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
    }

    img {
        object-fit: fill;

    }

    #administrativo {
        overflow: scroll;

    }

    #sonidista {
        overflow: scroll;
    }

    #perfil .perfilprofessional {
        height: 10%;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .perfil:hover div.ppcontenido {
        opacity: 1;
        transform: scale(1);
        color: rgb(232, 216, 74);
        font-size: 12px;
    }

    .sonidista {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        max-width: 430px;
    }

    .sonidistatitulo {
        font-size: 1.5rem;
    }

    .bloques {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    div.eventosvivo {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: "Bricolage Grotesque", sans-serif;
        font-style: normal;
        font-size: 1rem;
    }

    div.eventosvivoimg {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    div.eventosvivoimg img {
        width: 18.75rem;
        height: 12.5rem;
    }

    footer {
        font-size: 14px;
        width: 100%;
    }

}