body {
    color:brown;
    background: orange;

}

header {
    background: lightgray;
    padding: 10px;
    border-bottom: 2px solid black;
}

div.bio {
    font-family: Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 1.25rem;
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    gap:10rem;
}

div.imgbio {
    border: 3px solid #000000;
}

div.textbio {
    max-width: 500px;
    margin-right: 20px;
    text-align: justify;
}

div.title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: darkblue;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.perfiles {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

div.perfilprofesional {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 44.64rem;
}

div.perfiles img {
    border: 2px solid black;
}

div.ppcontenido {
    top: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(255,255, 0, 0.125);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.ppcontenido h2:hover{
    opacity: 1;
    color:red;
}

div.discos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 44.64rem;
}

a{
color:blue;

}